@import (inline) 'normalize.css';
@import 'vars.less';
body {
  font-size: 16px;
  line-height: 24px;
  font-family: @font-family;
  font-weight: bold;
  color: @terminal-green;
}

#pipboy {
  overflow: auto;
  width: 800px;
  height: 500px;
  position: absolute;
  top: 200px;
  left: 700px;
  p {
    color: @terminal-green;
    margin: 2px 0;
  }
  .terminal-logo {
    color: @nuka-cola;
  }
  .terminal-user {
    color: @violent-red;
  }
  .terminal-user .terminal-logo {
    margin: 0;
    padding: 0;
  }
  input {
    color: @terminal-green;
    background: none;
    border: none;
    &:focus {
      outline: none;
      border: none;
    }
  }
}
